
<div class="col-lg-8 col-lg-offset-2">

<h1>Posts</h1>
<p class="help-block text-danger"></p>
<% if ['Author', 'Admin'].include? LOGIN_TYPES[@current_user.login_type] %>
<%= link_to 'Make post', new_post_path %>
<% end %>
<p class="help-block text-danger"></p>
<table name="postsTable" id="postsTable">
  <thead>
    <tr class="row">
      <th class="col-sm-8">Post</th>
      <th class="col-sm-3">Author</th>
      <th class="col-sm-1">Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr class="row">
      <td class="col-sm-8"><%= post.post %></td>
      <td class="col-sm-3"><%= post.login.username %></td>
      <td class="col-sm-1"><%= post.cost %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<script>
$(document).ready(function(){
    $('#postsTable').DataTable();
});
</script>
